name: Vimal Build APK
on: 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Download Gradle Wrapper Jar
        run: |
          mkdir -p gradle/wrapper
          curl -L https://raw.githubusercontent.com/gradle/gradle/v8.0.0/gradle/wrapper/gradle-wrapper.jar -o gradle/wrapper/gradle-wrapper.jar

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew assembleDebug --stacktrace

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Vimal-Custom-App
          path: app/build/outputs/apk/debug/*.apk
          - name: Fix Structure and Build
        run: |
          mkdir -p gradle/wrapper
          # தவறான இடத்தில் இருக்கும் கோப்புகளைச் சரியான இடத்திற்கு மாற்றுகிறது
          find . -name "gradle-wrapper.properties" -exec cp {} gradle/wrapper/gradle-wrapper.properties \;
          find . -name "gradle-wrapper.jar" -exec cp {} gradle/wrapper/gradle-wrapper.jar \;
          chmod +x gradlew
          ./gradlew assembleDebug
